<div>
    <h1>Sobre Comics</h1>
    <hr>
    <p>En esta página de comics podras conocer tanto a tu héroes favoritos de Marvel como de DC.  </p>
    <h3>Ahora un poco sobre Marvel</h3>
    <p>Se fundó en 1939 por Martin Goodman por medio de constantes cambios de nombre y fracasos en su lanzamiento , llevando por nombre Red Circle Comics, Atlas Comics, aunque su nombre mas popular
        sería Timely Comics. En su primera publicación importante en Octubre de 1939 apareció la primera Antorcha Humana y el villano Namor, que pasaron a convertirse en grandes éxitos pritagonizando 
        sus propias series
    </p>
    <p>Durante los años 50, la compañía, como toda la industria del cómic americana, decayó fuertemente a consecuencia del final de la Segunda Guerra Mundial. En 1957 Marvel casi cerró sus puertas 
        debido a la bancarrota de su distribuidora. Durante este tiempo la compañía se llamaba Atlas Comics y publicaba historias de monstruos con una ligera ambientación de ciencia ficción.</p>
    <p>En el año 1961 se publicó la primera historia conocida como "Los 4 Fantásticos". Más tarde en el 2009 Marvel Comics fue adquirida por 
        The Walt Disney Company.</p>
    <br>
    <img src="../../assets/images/MarvelH.jpg" alt="" class="images">
    <br><br>

    <h3>Tal vez te pueda interesar un poco sobre DC</h3>
    <p>Fundada en 1934 bajo el nombre «National Allied Publications», cambió en 1937 a DC Comics, abreviatura de Detective Comics, uno de los primeros éxitos de la compañía.</p>
    <p>National Allied Publications debutó con una revista de tamaño tabloide titulada The Big Comic Magazine, fechada en febrero de 1935. El segundo título de la editorial fue New Comics 
        (diciembre de 1935) y su tamaño fue mas cercano al utilizado en la llamada Edad de Oro de la historieta estadounidense (por si alguien se lo pregunta, este formato es algunos centímetros 
        más grande al usado hoy). Con los años, New Comics pasaría a llamarse Adventure Comics, y seguiría publicándose hasta el año 1983. </p>
    <p>Debido a las deudas que tenía con la imprenta, en 1937 entró un nuevo socio y se comenzó a publicar Detective Comics, una antología de relatos, principalmente de aventuras. Wheeler-Nicholson 
        permaneció en la compañía por un año más, pero sus problemas financieros lo forzaron a renunciar. Así nació Detective Comics Inc., que poco tiempo después compró el remanente de National Allied en una subasta por bancarrota.</p>
    <p>La nueva administración lanzó Action Comics, que en su primer número presentaba a Superman en su portada. Fechada en junio de 1938, Action Comics fue la primera revista de historietas 
        en presentar un arquetipo que pronto sería reconocido como «superhéroe». Y gran sorpresa, la idea resultó ser un súperVentas.</p> 
    <p>Aprovechando este sorpresivo éxito, la editorial pronto presentaría nuevos superhéroes, como Sandman y Batman.</p>        

    <br>
    <img src="../../assets/images/DCH.jpg" alt="" class="images">
    <br><br>
</div>
